body {
  margin: 0;
  padding: 0; }

.wrpTop {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)), url("../src/img/fuzz-strong-d275d3dc.gif");
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)), url("../src/img/fuzz-strong-d275d3dc.gif");
  background-repeat: repeat;
  height: 795px;
  background-color: #464646; }
  .wrpTop .logo img {
    display: block;
    margin: auto auto;
    padding-top: 50px; }
  .wrpTop .topDiscribe {
    width: 656px; }
  .wrpTop p {
    text-align: center;
    font-family: proxima-nova, light;
    font-size: 24px;
    line-height: 1.5em;
    color: #fff;
    width: 656px;
    margin: 26px auto; }

.wrpHello {
  height: 260px;
  background-color: #F1494C;
  width: 100%; }

.wrpHello__container {
  display: table;
  padding-top: 40px;
  margin: 0 auto; }

.wrpHello__title {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px; }
  .wrpHello__title > p {
    font-family: minion-pro, Medium;
    font-style: italic;
    font-size: 5.5em;
    color: #000;
    padding: 10px 0;
    margin: auto 30px;
    border-bottom: solid 3px;
    border-bottom-color: #000; }

.wrpHello__body {
  display: table-cell;
  vertical-align: middle;
  padding: 30px;
  width: 790px; }
  .wrpHello__body > p {
    font-family: proxima-nova, light;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #fff; }

.wrpCliants {
  height: 1009px;
  background-color: #ffffff;
  margin: auto 0;
  text-align: center; }
  .wrpCliants h2 {
    padding-top: 90px;
    font-family: minion-pro, Medium;
    font-size: 45px;
    font-style: italic;
    color: #000;
    margin: 0 auto; }
    .wrpCliants h2:after {
      clear: left;
      content: '';
      display: block;
      width: 160px;
      margin: 34px auto 67px auto;
      border-bottom: 3px solid #39A4AD; }
  .wrpCliants ul {
    max-width: 1312px;
    margin: 0 auto; }
    .wrpCliants ul li {
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 326px;
      height: 224px;
      border-bottom: 1px solid #E8E9E8;
      border-right: 1px solid #E8E9E8; }
      .wrpCliants ul li:nth-child(4n) {
        border: none;
        border-bottom: 1px solid #E8E9E8; }
      .wrpCliants ul li:nth-last-child(-n+4) {
        border: none;
        border-right: 1px solid #E8E9E8; }
        .wrpCliants ul li:nth-last-child(-n+4):last-child {
          border: none; }

.wrpCliantMsg {
  height: 811px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3a939a), to(#58ccd5)); }
  .wrpCliantMsg .wrpCliantMsg__body {
    margin: 0 240px;
    padding-top: 185px;
    font-family: proxima-nova, light;
    font-size: 32px;
    line-height: 1.5em;
    color: #ffffff; }
  .wrpCliantMsg .wrpCliantMsg__author > .auther__quote {
    float: left;
    margin-left: 220px;
    width: 70px;
    height: 70px;
    font-size: 180px;
    color: #F1494C;
    font-family: proxima-nova, light; }
  .wrpCliantMsg .wrpCliantMsg__author .auther__name {
    padding-top: 25px;
    font-family: 'proxima-nova';
    font-weight: bold;
    font-size: 20px;
    color: #0C2224; }
  .wrpCliantMsg .wrpCliantMsg__author .auther__company {
    padding-top: 3px;
    font-family: proxima-nova, light;
    font-weight: bold;
    color: #ffffff; }

.wrpProcessTitle {
  height: 210px;
  background-color: #0C2224;
  text-align: center; }
  .wrpProcessTitle h2 {
    padding-top: 90px;
    font-family: minion-pro, Medium;
    font-size: 45px;
    font-style: italic;
    color: #ffffff;
    margin: 0 auto; }
    .wrpProcessTitle h2:after {
      clear: left;
      content: '';
      display: block;
      width: 160px;
      margin: 34px auto 67px auto;
      border-bottom: 3px solid #39A4AD; }
  .wrpProcessTitle h2:after {
    margin: 20px auto 67px auto; }
  .wrpProcessTitle .square {
    display: inline-block;
    background-color: inherit;
    width: 52px;
    height: 52px;
    position: relative;
    top: -45px;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%; }

.wrpProcess {
  height: 680px;
  background-color: #ffffff; }

.wrpFunFact {
  height: 2711px;
  background-color: #0C2224; }

.wrpOffice {
  height: 1268px;
  background-color: #ffffff; }

.wrpTeam {
  height: 1439px;
  background-color: #ffffff; }

.wrpJobMsg {
  height: 220px;
  background-color: #000; }

.wrpSnsIcons {
  height: 200px;
  background-color: #ffffff; }
