//Variables Color
$colorMain:#0C2224;
$colorBase:#ffffff;
$colorAccent:#F1494C;
$colorAccent2:#39A4AD;
$colorLetterDark:#000;
$imgLiine:#E8E9E8;
//Variables Fonts
$fontTitle:minion-pro,
Medium;
$fontBody:proxima-nova,
light;
//@mixins
@mixin title($fontColor:$colorLetterDark, $lineColor:$colorAccent2) {
	h2 {
		padding-top: 90px;
		font-family: $fontTitle;
		font-size: 45px;
		font-style: italic;
		color: $fontColor;
		margin: 0 auto;
		&:after {
			clear: left;
			content: '';
			display: block;
			width: 160px;
			margin: 34px auto 67px auto;
			border-bottom: 3px solid $lineColor;
		}
	}
}

body {
	margin: 0;
	padding: 0;
}

.wrpTop {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)), url('../src/img/fuzz-strong-d275d3dc.gif');
	background-repeat: repeat;
	height: 795px;
	background-color: #464646;
	.logo {
		img {
			display: block;
			margin: auto auto;
			padding-top: 50px;
		}
	}
	.topDiscribe {
		width: 656px;
	}
	p {
		text-align: center;
		font-family: $fontBody;
		font-size: 24px;
		line-height: 1.5em;
		color: #fff;
		width: 656px;
		margin: 26px auto;
	}
}

.wrpHello {
	height: 260px;
	background-color: $colorAccent;
	width: 100%;
}

.wrpHello__container {
	display: table;
	padding-top: 40px;
	margin: 0 auto;
}

.wrpHello__title {
	display: table-cell;
	vertical-align: middle;
	padding-right: 10px;
	>p {
		font-family: $fontTitle;
		font-style: italic;
		font-size: 5.5em;
		color: $colorLetterDark;
		padding: 10px 0;
		margin: auto 30px;
		border-bottom: solid 3px;
		border-bottom-color: $colorLetterDark;
	}
}

.wrpHello__body {
	display: table-cell;
	vertical-align: middle;
	padding: 30px;
	width: 790px;
	>p {
		font-family: $fontBody;
		font-size: 1.3em;
		line-height: 1.5em;
		color: #fff;
	}
}

.wrpCliants {
	height: 1009px;
	background-color: $colorBase;
	margin: auto 0;
	text-align: center;
	@include title;
	ul {
		max-width: 1312px;
		margin: 0 auto;
		li {
			display: block;
			float: left;
			margin: 0;
			padding: 0;
			list-style: none;
			width: 326px;
			height: 224px;
			border-bottom: 1px solid $imgLiine;
			border-right: 1px solid $imgLiine;
			&:nth-child(4n) {
				border: none;
				border-bottom: 1px solid $imgLiine;
			}
			&:nth-last-child(-n+4) {
				border: none;
				border-right: 1px solid $imgLiine;
				&:last-child {
					border: none;
				}
			}
		}
	}
}

.wrpCliantMsg {
	height: 811px;
	background-image: -webkit-gradient( linear, left top, right bottom, from(#3a939a), to(#58ccd5));
	.wrpCliantMsg__body {
		margin: 0 240px;
		padding-top: 185px;
		font-family: $fontBody;
		font-size: 32px;
		line-height: 1.5em;
		color: $colorBase;
	}
	.wrpCliantMsg__author {
		&>.auther__quote {
			float: left;
			margin-left: 220px;
			width: 70px;
			height: 70px;
			font-size: 180px;
			color: #F1494C;
			font-family: $fontBody;
		}
		.auther__name {
			padding-top: 25px;
			font-family: 'proxima-nova';
			font-weight: bold;
			font-size: 20px;
			color: $colorMain;
		}
		.auther__company {
			padding-top: 3px;
			font-family: $fontBody;
			font-weight: bold;
			color: $colorBase;
		}
	}
}

.wrpProcessTitle {
	height: 210px;
	background-color: $colorMain;
	text-align: center;
	@include title($fontColor: $colorBase);
	h2:after {
		margin: 20px auto 67px auto;
	}
	.square {
		display: inline-block;
		background-color: inherit;
		width: 52px;
		height: 52px;
		position: relative;
		top:-45px;
		transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		transform-origin:50% 50%;
	}
}

.wrpProcess {
	height: 680px;
	background-color: $colorBase;
}

.wrpFunFact {
	height: 2711px;
	background-color: $colorMain;
}

.wrpOffice {
	height: 1268px;
	background-color: $colorBase;
}

.wrpTeam {
	height: 1439px;
	background-color: $colorBase;
}

.wrpJobMsg {
	height: 220px;
	background-color: #000;
}

.wrpSnsIcons {
	height: 200px;
	background-color: $colorBase;
}