!!!
%head
  <script src="https://use.typekit.net/poq3wzz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  %link(rel="stylesheet" href='css/main.css')
%body
  %div.wrpTop
    %div.logo
      %img{src:'./src/img/logo-e8415ba9.svg'}
    %p We are a full-service digital agency with offices in Los Angeles, San Francisco, Austin, and Buenos Aires.
  %div.wrpHello
    %div.wrpHello__title
      %p
        Hello.
    %div.wrpHello__body
      %p
        We’ve worked with countless organizations and businesses to enhance their brand through web and mobile experiences. Join us as we design, develop, and launch ideas that will shape the future.
  %div.wrpCliants
  %div.wrpCliantMsg
  %div.wrpProcessTitle
  %div.wrpProcess
  %div.wrpFunFact
  %div.wrpOffice
  %div.wrpTeam
  %div.wrpJobMsg
  %div.wrpSnsIcons
  %div
  
  
